[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
websockets = "*"

[dev-packages]
pytest = "*"
pytest-runner = "*"
hypothesis = "*"
selenium = "*"
pytest-selenium = "*"
